body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form > * {
  margin: 5px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.boardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawing-board {
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 90vh;
  max-width: 90vh;
}

.boardRow {
  display: flex;
  flex: auto;
}

.drawing-board-segment {
  flex: auto;
  background-color: #b8b8b8;
}