form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

p {
  padding: 10px;
}

.drawing-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.drawing-board-segment {
  flex: 1;
  background-color: rgb(73, 73, 73);
  padding: 40px;
}